VITE_SUPABASE_URL=https://ouzmghsspamvgieuhkmg.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im91em1naHNzcGFtdmdpZXVoa21nIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mjg0MzY1NzAsImV4cCI6MjA0NDAxMjU3MH0.BVrtU-5bsXEAqG1fVlmWltapbWlo9bFuCemf1YA5lz4