
footer {
    border-top: 1px solid #c0c0c0;
    padding: 2rem;
    font-size: 0.7rem;
    color: #c0c0c0;
}
footer div {
    width: 50%;
    float: left;
}
footer div:last-of-type {
    text-align: right;
}
