.modal {
    position: relative;
    width: 500px;
    padding: 2rem;
    background-color: white;
    color: #181818;
    margin: 30% auto;
    border-radius: .5rem;
}
.dark .modal {
    color: #f8f8f8;
    background-color: #222222;
}
.lite .modal {
    color: #222222;
    background-color: #f9f9f9;
}
.lite .btn,
.lite button,
.lite a {
    border: 1px solid  #222222;
}
.dark .btn,
.dark button,
.dark a {
    border: 1px solid  #f8f8f8;
    background-color: #4c4b4b;
}
.close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
}
label {
    display: block;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: none;
}

.show {
    display: block;
}
